<!DOCTYPE html>
<!-- By Syed Zaheer 22019147 -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Edit User</title>
</head>
<body style="text-align: center">
    <h1>Edit User</h1>
    <form action="{{ url_for('edit_user', user_id=user.CustomerID) }}" method="post">
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email" value="{{ user.Email }}"><br><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" value="{{ user.Password }}"><br><br>
        <button type="submit">Update</button>
    </form>
</body>
<div class="footer">
    <form action="{{url_for('index')}}">
        <button>Log Out!</button>
    </form>
</div>
</html>
