<!DOCTYPE html>
<!-- By Syed Zaheer 22019147 -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Admin Hotels</title>
</head>
<body style="text-align: center">
    <h1>HOTELS</h1>
    <table>
        <tr>
            <th>Hotel ID</th>
            <th>Location</th>
            <th>On Peak Price</th>
            <th>Off Peak Price</th>
            <th>Change</th>
        </tr>
        {% for hotel in hotels %}
        <tr>
            <td class="hotel-id">{{ hotel.HotelID }}</td>
            <td class="hotel-location">{{ hotel.Location }}</td>
            <td class="hotel-on-peak-price">{{ hotel.OnPeakPrice }}</td>
            <td class="hotel-off-peak-price">{{ hotel.OffPeakPrice }}</td>
            <td>
                <a href="{{ url_for('edit_hotel', hotel_id=hotel.HotelID) }}"><button>Edit</button></a>
                <form action="{{ url_for('delete_hotel', hotel_id=hotel.HotelID) }}" method="post" style="display:inline;">
                    <button type="submit" onclick="return confirm('Are you sure you want to delete this hotel?')">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
<div class="footer">
    <form action="{{url_for('index')}}">
        <button>Log Out!</button>
    </form>
</div>
</html>
